input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
#fieldSelect {
    width: 100%;
    border: 1px solid #937676;
    background: #fff;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px;
    font-size: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
#fieldSelect:focus {
    outline: none;
    border: 1px solid #206b1a !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
#fieldSelect,
button[type="submit"] {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    input::placeholder {
        opacity: 0;
    }

    label {
        margin-left: 5px;
        margin-bottom: 8px;
        font-size: 16px;
        display: inline-block;
    }
}